@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600|Unica+One|Roboto");

:root {
  /* --background: rgba(244, 212, 34, 0.95); */
  /* --background: rgba(46, 45, 42, 0.95); */
  --background: rgba(32, 66, 110, 0.95);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background: #222; */
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.content {
  height: 100vh;
  /* background-image: url(//unsplash.it/1000/1000); */
  /* background-color: #333; */
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

/* navigation styles start here */

.header {
  background: var(--background);
  text-align: center;
  position: relative;
  z-index: 999;
  width: 100%;
  color: white;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, 0.75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.logo {
  font-family: "Unica One", cursive;
  font-size: 4em;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
    margin-top: 10px;
  }

  nav {
    /* all: unset; this causes issues with Edge, since it's unsupported */

    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: white;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}

/* Card board style */
.main-container {
  display: grid;
  position: relative;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 20px;
  grid-column-gap: 50px;
  background: #fff;
  margin: auto;
  margin-top: 24px;
  padding: 1em;
  border-radius: 10px;
  max-width: 1440px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25), 0 0px 20px rgba(0, 0, 0, 0.22);
}

@media screen and (max-width: 375px) {
  .main-container {
    grid-template-columns: auto;
    margin: 15px;
  }

  .card-container {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 800px) and (min-width: 376px) {
  .main-container {
    grid-template-columns: auto auto;
    margin: 15px;
  }

  .card-container {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    height: 100%;
    width: 100%;
  }
}

/* Card styles */
.card-container::before {
  content: "";
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* .color-invalid {
  background: #ffe4e4;
} */

.color-valid::before {
  background: green;
}

.color-invalid::before {
  background: #d60000;
}

.card-container-valid {
  color: #067800;
}

.card-container-invalid {
  color: #780000;
}

.card-container {
  display: grid;
  grid-row-gap: 5px;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
  height: 215px;
  width: 100%;
  max-width: 315px;
  position: relative;
  padding-top: 0px;
  padding-left: 10px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25), 0 4px 24px rgba(0, 0, 0, 0.22);
}

.card-container h2 {
  margin-top: 0;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  border-top-right-radius: 4px;
}

.card-container h3 {
  margin-bottom: 0;
  font-size: 1rem;
}

.grid-items-header {
  display: flex;
  place-items: center;
  grid-column: 1 / span 2;
  grid-row: 1;
  position: relative;
  background-color: #f6f6f7;
}

.grid-items-content {
  grid-column: 1 / span 2;
  grid-row: 2;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

.buttons {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.expand-button {
  position: absolute;
  right: 10px;
  top: 45%;
  transform: translateY(-50%);
}

.add-card {
  height: 215px;
  width: 100%;
  max-width: 315px;
  position: relative;
  font-size: 50px;
}
